$base--type:         $base-font-family;
$base--size:         $base-font-size;
$base--size_small:   $small-font-size;
$base--height:       $base-line-height;
$base--space:        $base--size;
$base--weight:       $base-font-weight;
$base--width:        $content-width;

$color--kian:         $brand-color;
$color--text:         $text-color;
$color--links:        $grey-color;
$color--background:   $background-color;

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
    font-size: 1rem;
    font-weight: 600;
}

a {
    color: $color--links;

    &:hover {
        color: $color--kian;
        text-decoration: none;
    }
}

.photo--circle {
    border-radius: 100%;
}

header {
    margin-bottom: 0;
    padding: 2rem;
    text-align: center;

    a {
        font-size: 14px;
        padding-bottom: 2px;
    }

    .name,
    .active {
        color: $color--text;

        &:hover {
            color: $color--kian;
        }
    }

    .name {
        font-size: 16px;
        font-weight: 500;
    }

    .active {
        border-bottom: 2px solid $text-color;
    }

    nav ul {
        display: inline-block;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        margin-right: 1.5rem;
        padding-bottom: 0.5rem;
    }
}

section {
    margin: 0 auto;
    max-width: 55rem;
}

section.me {
    max-width: $base--width;
    padding: 1rem;
    text-align: center;

    .photo_me {
        margin: 0 auto 4rem;
        max-width: $base--space * 12.5;
    }

    .who-am-i {
        font-size: 24px;
        margin-top: -2rem;
        font-weight: 300;
    }
    
    .more-about-me {
        height: 0;
        opacity: 0.7;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
    }
    
    .more-about-me_bigger {
        height: 225px;
    }

    .emoji_bigger {
        font-size: 32px;
    }
}

section.case-studies {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.25rem;

    .wrapper--case-studies_featured {
        aside {
            color: $color--kian;
        }

        .grid {
            div {
                width: 100%;
            }
        }
    }

    .grid {
        flex-wrap: wrap;
        max-width: none;
        justify-content: space-between;
        padding: 0;

        div {
            display: block;
            margin-bottom: 1rem;
        }

        .photo--rectangle {
            margin-bottom: 0.5em;
            width: 100%;
        }

        a {
            display: block;
        }

        a:hover b.title {
            color: $color--kian;
        }

        .title {
            color: $color--text;
            display: block;
            font-size: $base--size_small;
            font-weight: $base--weight;
        }

        .year {
            color: #bbb;
            font-size: $base--size_small;
            font-style: normal;
        }
    }
}

section.writing {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;

    .row {
        align-items: baseline;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;

        aside {
            width: 25%;
        }

        div {
            width: 75%;
        }

        ul {
            line-height: 1.4;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 16px;

            a {
                align-items: baseline;
                border-bottom: 0;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 0 0.6rem;
                text-decoration: none;

                &:hover {
                    b {
                        color: $color--kian;
                    }
                }
            }

            b {
                display: block;
                font-weight: normal;
                color: #333;
            }

            em {
                font-style: normal;
                font-size: 12px;
                color: #bbb;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}

footer {
    background-color: #e5e5e5;
    color: gray;
    font-size: 14px;
    font-weight: $base--weight;
    margin-top: 1rem;
    padding: 2rem 1rem;

    .talk-to-me {
        section {
            max-width: 50rem;
        }

        h2 {
            color: #333;
            margin: 0;
        }

        .button--email {
            background-color: $color--kian;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 1rem;
            padding: 7px 14px;

            &:hover {
                background: #333;
            }
        }
    }

    .thanks-frank {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 12px;
        margin-top: 2rem;
        padding-top: 1rem;

        a {
            border-bottom: 1px solid lightgray;
        }
    }
}


@media (min-width: 600px) {

    section.case-studies {
        margin-left: auto;
        margin-right: auto;

        .wrapper--case-studies {
            align-items: flex-start;
            display: flex;
        }

        .grid {
            width: 75%;

            div {
                display: inline-block;
                width: 49%;
            }

            div:nth-child(odd) {
                padding-right: 0.5rem;
            }

            div:nth-child(even) {
                padding-left: 0.5rem;
            }
        }
    }

    section.writing {
        margin-left: auto;
        margin-right: auto;
    }



    section.case-studies aside { width: 25%; }
    div.textspace>div { width: 75%; }
    section.writinglist aside { border-bottom: none; }
    section.writinglist { margin: 0 1em 1em 1em; }
    section.writinglist aside h2 { margin: 0; }
    body:not(.writingindex) div.writingwrapper { padding-top: 2.5rem; }
}
