---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Inter","Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;

$spacing-unit:     30px !default;

$text-color:       #222 !default;
$background-color: #fff2d4 !default;
$brand-color:      rgb(10, 78, 156) !default;

$grey-color:       gray !default;
$grey-color-light: lighten($grey-color, 20%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    40rem !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "portfolio/home"
;
