---
layout: default
---

<section class="generic-section about-section">
    <img class="photo-me" 
        src="https://uploads-ssl.webflow.com/6040295a1a58e254fb164bcc/60402bd1266d16530cee1a63_eSVbZbo-p-500.jpeg" 
        alt="A portrait of Kian Lavi"
    >
    <div class="text-me">
        <p class="emoji-me">👋🏾</p>
        <h1>
            {{site.description}}
        </h1>
        <p>
            {{site.extras}}
        </p>
    </div>
</section>

<section class="generic-section featured-section case-studies-section">
    <h3>Featured Design Work</h3>

    {% for featured in site.data.featured %}
        <a href="{{featured.link}}" class="study featured-study">
            
            <!-- show this if you want the old tiles again -->
            <!-- <div class="study-photo add-shadow"
                 alt="{{ featured.project }}"
                 style="background-image: url('{{ featured.hero_url }}')">
            </div> -->

            <!-- remove this if you wanna remove parallax tiles, it's duplicative of the div above -->
            <div class="container">
                <div class="parallax">
                    <div class="parallax-top-left"></div>
                    <div class="parallax-top-right"></div>
                    <div class="parallax-bottom-left"></div>
                    <div class="parallax-bottom-right"></div>
                    <div class="parallax-content">
                        <div class="study-photo"
                            alt="{{ featured.project }}"
                            style="background-image: url('{{ featured.hero_url }}')">
                        </div>
                    </div>
                </div>  
            </div>

            <div class="study-meta">
                <img src="{{featured.company_img}}" 
                alt="" class="study-company">

                <div class="study-info">
                    <p class="study-title">
                        <strong>{{featured.project}}</strong>
                    </p>
                    <p class="study-data">{{featured.company}}</p>
<!--                     <p class="study-secondary">🔒 Private • Email for a link</p> -->
                </div>
            </div>
        </a>
        {% endfor %}    
</section>

<section class="generic-section case-studies-section">
    <h3>Case Studies</h3>

    <div class="study-grid">
        {% for portfolio in site.data.portfolio %}
            <a href="{{portfolio.link}}" class="study case-study">
                
                <!-- show this if you want the old tiles again -->
                <!-- <div class="study-photo add-shadow" 
                    alt="{{ portfolio.project }}"
                    style="background-image: url('{{ portfolio.hero_url }}')">
                </div> -->
                
                <!-- remove this if you wanna remove parallax tiles, it's duplicative of the div above -->
                <div class="container">
                    <div class="parallax">
                        <div class="parallax-top-left"></div>
                        <div class="parallax-top-right"></div>
                        <div class="parallax-bottom-left"></div>
                        <div class="parallax-bottom-right"></div>
                        <div class="parallax-content">
                            <div class="study-photo" 
                                alt="{{ portfolio.project }}"
                                style="background-image: url('{{ portfolio.hero_url }}')">
                            </div>  
                        </div>
                    </div>
                </div>



                <div class="study-meta">
                    <img src="{{portfolio.company_img}}" 
                        alt="" class="study-company">
                
                    <div class="study-info">
                        <p class="study-title">
                            <strong>{{portfolio.project}}</strong>
                        </p>
                        <p class="study-data">{{portfolio.company}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>


</section>

<section class="generic-section case-studies-section experiments-section">
    <h3>Experiments</h3>
    <ul class="experiments-list">
        {% for experiment in site.data.experiments %}
        <li class="experiment">
            <a href="{{experiment.url}}" class="experiment-title">
                <p>
                <strong>{{experiment.title}}</strong>
                </p>
                <p class="experiment-type">{{experiment.type}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
