---
layout: default
---

<section class="me">

    <a href="#photo_me" onclick="document.getElementById('more-about-me').classList.toggle('more-about-me_bigger');">
        <img src="https://lh3.googleusercontent.com/PUZFIHKs40OiPwQ_hQz_TkdBoaeMX-C9aqgsX4_erAJHazO9DxzLswVatRQBO91hjC7B51ul5ptfARIUY7H0bxxmv3799cThEXJudjmeSsW6jSR9xNg6Dm-n6ixbtURJ3AXlQRlbohKYBj59KDfZm0Nxb4vX8rIKu5w9T2MA5lFw3B-vIvOyls1t55CsWz2193z4Q4eKLYaQdsSH-FFWJ31OrS2B81KI25BdngM7p78G7BVnEBZw9pRh-qktEkMFSOyVwqmoU2wjxGGXo8YakHLG5uQnSWBOMjVmH-gJbhqGKgYbTsqgdw6YWuzvzkm0DW2MusvLKLWlccIAs5EFyl-I05QBclaOXquw3l6Rg8gpAOGA7hCjYzURJQjJbsnzycEvIxDlqIJwZrjb9lpvFVjLKk-Ar3pDZ3IIqsSYn3yzMdHWWtVO1VZawhauIoOATf4_TOftHglvSHTMckCk3-Zm3fI8xjD2ZVsStv2mXuWugJgCkE46oidPGE6uRYLEWeN6c71QPXvHRbLpsUm0DYQ5KS6dvCxV7qUpVJM43Y7_okKa4xebT0mZt3KiN2L0lLN39aebMFUTaIUlL-tr4d-eQeMup4s-=s306-no" alt="A portrait of Kian Lavi" class="photo--circle photo_me" id="photo_me">
    </a>

    <p class="who-am-i">
        {{ site.description }}
    </p>

    <div class="more-about-me" id="more-about-me">
        <p>
            Right now, I'm busy working on improving Targeting at Facebook, so pardon the emptiness. If you need me, <a href="mailto:kianlavi@gmail.com?subject=Hi Kian!">you can email me.</a>
        </p>
        <p class="emoji_bigger">👋🏾</p>
    </div>

</section>

<section class="case-studies">

    <div class="wrapper--case-studies wrapper--case-studies_featured">

        <aside>
            <h2 id="featured">Featured</h2>
        </aside>

        <div class="grid">

            {% for featured in site.data.featured %}
            <div>
                <a href="{{ featured.url }}">
                    <div class="photo--rectangle"
                        alt="{{ featured.title }}"
                        style="background-image: url('{{ featured.img_url }}')"></div>
                    <b class="title">✨ {{ featured.title }} ✨</b>
                    <em class="data">{{ featured.data }}</em>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>



    <div class="wrapper--case-studies">

        <aside>
            <h2>Case Studies</h2>
        </aside>

        <div class="grid">

            {% for portfolio in site.data.portfolio %}
            <div>
                <a href="{{ portfolio.url }}">
                    <div class="photo--rectangle"
                        alt="{{ portfolio.title }}"
                        style="background-image: url('{{ portfolio.img_url }}')"></div>
                    <b class="title">{{ portfolio.title }}</b>
                    <em class="data">{{ portfolio.data }}</em>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

</section>

<section class="writing">

    <div class="row">

        <aside>
            <h2>Experiments</h2>
        </aside>

        <div>

            <ul class="list">

                <li>
                    <a href="http://100daysofbus.persona.co">
                        <b class="title">#100daysofbus</b>
                        <em class="date">Documentary · Photojournalism</em>
                    </a>
                </li>

                <li>
                    <a href="https://medium.com/the-threshold">
                        <b class="title">The Threshold</b>
                        <em class="date">Writing · Essays</em>
                    </a>
                </li>


                <li>
                    <a href="https://github.com/kianlavi">
                        <b class="title">Calma: Less Anxiety, More Breathing</b>
                        <em class="date">iOS/watchOS App</em>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/kianlavi/cat-feeder">
                        <b class="title">Catduino: An Automated Cat Feeder</b>
                        <em class="date">Arduino · Hardware</em>
                    </a>
                </li>

            </ul>

        </div>

    </div>

    <div class="row">
        <aside>
            <h2 class="previous-year">2015</h2>
        </aside>

        <div>

            <ul class="list">

                <li>
                    <a href="https://medium.com/p/44bfeff0c6af">
                        <b class="title">Alibi: Get Out of Anything</b>
                        <em class="date">iOS App</em>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <b class="title">DLA Artwork</b>
                        <em class="date">Album Art · Photography</em>
                    </a>
                </li>

                <li>
                    <a href="https://babazorg.tumblr.com">
                        <b class="title">The Babazorg Project</b>
                        <em class="date">Photography · Documentary</em>
                    </a>
                </li>

            </ul>

        </div>

    </div>

    <div class="row">
        <aside>
            <h2 class="previous-year">2013</h2>
        </aside>

        <div>

            <ul class="list">

                <li>
                    <a href="http://photography.kianlavi.com/portfolio-item/yellow-mambo-day/">
                        <b class="title">Yellow Mambo DaY</b>
                        <em class="date">Photography · Exhibition</em>
                    </a>
                </li>

            </ul>

        </div>

    </div>

    <div class="row">
        <aside>
            <h2 class="previous-year">2012</h2>
        </aside>

        <div>

            <ul class="list">

                <li>
                    <a href="http://photography.kianlavi.com/portfolio-item/yellow-mambo-night/">
                        <b class="title">Yellow Mambo NiGht</b>
                        <em class="date">Photography · Exhibition</em>
                    </a>
                </li>

            </ul>

        </div>

    </div>


</section>
