<footer>

  <section>

    <div class="talk-to-me">
        <h2>Let's Chat</h2>
        <p>If something caught your eye, send me an email. I like to talk. </p>

        <a href="mailto:{{ site.email }}?subject=Hi Kian!" class="button--email">
            Email Me
        </a>
    </div>

    <div class="thanks-frank">
        Thanks especially, to <a href="http://www.frankchimero.com/writing/">Frank Chimero</a>
        ·
        <a href="mailto:{{ site.email }}?subject=Hey Kian">kianlavi@gmail.com</a>
        ·
        <a href="http://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
        ·
        <a href="http://github.com/{{ site.github_username }}">{{ site.github_username }}</a> on github
    </div>

</section>

</footer>
