<footer>
    <section class="generic-section">
        <div class="thanks-frank">
            <p>Thanks especially, to
                <a href="http://www.frankchimero.com/writing/">Frank Chimero</a>
                and 
                <a href="https://angela-he.com/index.html">Angela He</a>
                <span class="hide-on-mobile">
                    • Email me <a href="mailto:kianlavi+portfolio@gmail.com">kianlavi@gmail.com</a> • Follow me 
                    <a href="http://twitter.com/kianlavi">@kianlavi</a>
                </span>
            </p>
            <p class="hide-on-desktop">
                Email me <a href="mailto:kianlavi+portfolio@gmail.com">kianlavi@gmail.com</a>
            </p>
            <p class="hide-on-desktop">
                Follow me 
                    <a href="http://twitter.com/kianlavi">@kianlavi</a>
            </p>
            
        </div>
    </section>
</footer>
