<header class="header">

    <a href="/" class="name">Kian Lavi</a>
    <nav role="navigation">
        <ul>
            <li>
                <a href="#" class="active">Design</a>
            </li>
            <li>
                <a href="http://ph.kianlavi.com">Photography</a>
            </li>
            <li>
                <!-- <a href="{{site.baseurl}}/resume.pdf">CV</a> -->
                <a href="https://www.dropbox.com/s/i5r0ac4cxq8jpep/Kian%20Lavi%20-%20Resume.pdf?dl=0">CV</a>
                
            </li>
        </ul>
    </nav>

</header>
