<header class="header">
    <a href="/" class="name">Kian Lavi</a>
    <nav role="navigation">
        <ul>
            <li>
                <a href="#" class="active">Portfolio</a>
            </li>
            <li>
                <!-- <a href="{{site.baseurl}}/resume.pdf">CV</a> -->
                <!-- <a href="https://www.dropbox.com/s/k69kw3iy5wpk0d9/Kian%20Lavi%20-%20Resume.pdf?dl=0">Resumé</a> -->
                <a href="/assets/resume.pdf">Resumé</a>
                
            </li>
            <li>
                <a href="http://kianlavi.com">Photography</a>
            </li>
        </ul>
    </nav> 

</header>
